### Section 3: Test Sub Sample Differences
Develop two questions that require you to apply a two-sample test for each question and 
run these tests and derive insights from the data.

In [60]:
#import lib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [62]:
sample_test = pd.read_csv("../data/proceed/Clean_data.csv")

/var/folders/fb/070x0zqn3z353_kj3gkd5ych0000gn/T/ipykernel_9559/4114600162.py:1: DtypeWarning: Columns (2,4,16) have mixed types. Specify dtype option on import or set low_memory=False.
  sample_test = pd.read_csv("../data/proceed/Clean_data.csv")

In [63]:
sample_test.head()

,accounting_date,company_code,customer_code,customer_district_code,item_code,business_chain_l1_name,salesperson_code,market_segment,value_sales,value_cost,...,business_chain_l1_code_ZZ1,business_chain_l1_code_ZZ2,contact_method_code_Other,order_type_code_NOR,order_type_code_Other,Profit,Unit_Price,Profit_Margin,Transformed_Profit,Transformed_Unit_Price
0,2012-05-09,101,411800601,410,GENIE8WWWBC,ElectraCorp Ltd,T612,Commercial & Industrial,218.40,178.1976,...,False,False,False,True,False,40.2024,2.60,18.407692,6.340536,1.280934
1,2012-02-16,101,361000403,300,GENIE8WWWBC,BrightPower Solutions,P345,Commercial & Industrial,38.28,25.4568,...,False,False,False,True,False,12.8232,3.19,33.498433,3.580950,1.432701
2,2012-05-09,101,361000403,300,GENIE8WWWBC,BrightPower Solutions,P345,Commercial & Industrial,40.20,25.4568,...,False,False,False,True,False,14.7432,3.35,36.674627,3.839687,1.470176
3,2012-05-18,101,565540415,500,GENIE8WWWBC,Global Electric Wholesalers,T504,Commercial & Industrial,20.10,12.7284,...,False,False,False,False,False,7.3716,3.35,36.674627,2.715069,1.470176
4,2012-01-09,101,565540415,500,GENIE8WWWBC,Global Electric Wholesalers,T504,Commercial & Industrial,19.14,12.7284,...,False,False,False,False,False,6.4116,3.19,33.498433,2.532114,1.432701

In [64]:
print(sample_test.columns)

Index(['accounting_date', 'company_code', 'customer_code',
       'customer_district_code', 'item_code', 'business_chain_l1_name',
       'salesperson_code', 'market_segment', 'value_sales', 'value_cost',
       'value_quantity', 'value_price_adjustment', 'currency',
       'invoice_number', 'line_number', 'invoice_date',
       'customer_order_number', 'order_date', 'dss_update_time', 'day_gap',
       'order_group', 'value_sales_log_plus1_transformed',
       'value_cost_log_plus1_transformed',
       'value_quantity_log_plus1_transformed', 'business_area_code_DLT',
       'business_area_code_LMP', 'business_area_code_OTH',
       'business_area_code_Other', 'business_area_code_SUR',
       'item_group_code_Other', 'item_class_code_LMP01',
       'item_class_code_LMP03', 'item_class_code_LMP04',
       'item_class_code_LMP05', 'item_class_code_Other', 'item_type_5',
       'item_type_6', 'item_type_7', 'item_type_Other',
       'bonus_group_code_Trade', 'environment_group_code_Other',
       'environment_group_code_P', 'environment_group_code_R',
       'environment_group_code_S', 'technology_group_code_76',
       'technology_group_code_78', 'technology_group_code_86',
       'technology_group_code_90', 'technology_group_code_CROM',
       'technology_group_code_NA', 'technology_group_code_Other',
       'technology_group_code_PIER', 'technology_group_code_SYLV',
       'commission_group_code_Other', 'reporting_classification_Discontinuing',
       'light_source_LED', 'light_source_Traditional', 'warehouse_code_5V0',
       'warehouse_code_CN0', 'warehouse_code_Other', 'warehouse_code_Unk',
       'abc_class_code_B', 'abc_class_code_C', 'abc_class_code_D',
       'abc_class_code_G', 'abc_class_code_J', 'abc_class_code_Other',
       'abc_class_code_U', 'abc_class_volume_J', 'abc_class_volume_Other',
       'abc_class_volume_U', 'business_chain_l1_code_ELC',
       'business_chain_l1_code_MED', 'business_chain_l1_code_NES',
       'business_chain_l1_code_Other', 'business_chain_l1_code_ZZ1',
       'business_chain_l1_code_ZZ2', 'contact_method_code_Other',
       'order_type_code_NOR', 'order_type_code_Other', 'Profit', 'Unit_Price',
       'Profit_Margin', 'Transformed_Profit', 'Transformed_Unit_Price'],
      dtype='object')

#### Q1. Is there a significant difference in the average value_sales between two different abc_class_code (Top Sellers vs Low Sellers) categories?

To determine if there is a significant difference in the average value_sales between Top Sellers and Low Sellers (classified by abc_class_code as 'A' for Top Sellers and 'C' for Low Sellers), I will perform a two-sample t-test to compare the means of these two independent groups.

**Formulate Hypotheses:**

Null Hypothesis (H₀) -  The mean value_sales is the same for Top Sellers and Low Sellers. (H₀:μTopSellers =μLowSellers)

Alternative Hypothesis (H₁) - The mean value_sales is different between Top Sellers and Low Sellers. (H₁:μTopSellers =/ μLowSellers)

​**Analysis Approach** If the p-value from the t-test is less than the chosen significance level (usually 0.05), we will reject the null hypothesis, suggesting a significant difference in the average value_sales between Top Sellers and Low Sellers. If the p-value is greater than 0.05, we will fail to reject the null hypothesis, indicating no significant difference in the means of these two groups.

In [43]:

abc_class = sample_test[sample_test['abc_class_code'].isin(['A', 'C'])]

# # Plotting histogram for visualization
# sns.histplot(data=abc_class, x='value_sales', bins=50, kde=True, log_scale=True, hue='abc_class_code')
# plt.title("Histogram of value_sales (Log scale)")
# plt.legend(title='abc class code', loc='upper left', labels=['Top Sellers', 'Low Sellers'])
# plt.show()

# Separating data into two groups for the t-test
top_sellers_sales = abc_class[abc_class['abc_class_code'] == 'A']['value_sales']
low_sellers_sales = abc_class[abc_class['abc_class_code'] == 'C']['value_sales']

# Performing the two-sample t-test
t_stat, p_value = stats.ttest_ind(top_sellers_sales, low_sellers_sales, equal_var=False)  # Using Welch's t-test for unequal variance

# Displaying the test results
print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

# Interpretation
if p_value < 0.05:
    print("The mean value_sale are significantly different between Topsaller and lowseller.")
else:
    print("There is no significant difference in value_sale between Topsaller and lowseller.")

KeyError: 'abc_class_code'